*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{

    --bg-color:52, 53, 47;
    //--bg-color:39, 40, 34;
    --text-color:255, 255, 255;
}
.light-mode{
    --bg-color:245, 245, 245;
    --text-color:0, 0, 0;
}


//$secondary-color:#b96f1a;
$secondary-color:#b9871add;
@mixin transition-eio{
    transition:all 0.5s ease-in-out;
}
.text-primary{
    color:$secondary-color;
    font-size:1.5rem;
}

/*Generic Elements*/
body{
    height: 100vh;
    background:rgba(var(--bg-color),1);
    //background-image:linear-gradient(to right,rgba($primary-color,0.9),rgba($secondary-color,0.3)), url(/images/bg-image.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(var(--text-color),1);
    font-size:1.0rem;
    &:hover{
        color:$secondary-color;
    }
}

